@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .slabo-regular {
        font-family: "Slabo 13px", serif;
        font-weight: 400;
        font-style: normal;
    }

    .noto-serif-regular {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }
    
    .karla-regular {
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    * { 
        @apply karla-regular
    }

    h1 {
        @apply noto-serif-regular text-6xl font-bold
    }

    h2 {
        @apply slabo-regular text-4xl
    }

    p, ul {
        @apply karla-regular text-xl
    }
    
}

@layer components {
    .container {
        @apply max-w-2xl mx-auto px-4
    }
    .hero-quote {
        @apply text-2xl
    }
    .button {
        @apply inline-block text-xl text-white bg-orange-500 hover:bg-amber-500 p-3 rounded-md transition-all duration-150
    }
    .logotext {
        @apply inline-block text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-amber-500
    }
}

@layer utilities {
    
}